In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [4]:
df.shape

(29451, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [6]:
print('POSTED_BY' , df.POSTED_BY.unique())
print('BHK_OR_RK' , df.BHK_OR_RK.unique())

POSTED_BY ['Owner' 'Dealer' 'Builder']
BHK_OR_RK ['BHK' 'RK']

In [7]:
df.BHK_OR_RK= df.BHK_OR_RK.map(dict(RK=1, BHK=0))

In [8]:
df.POSTED_BY= df.POSTED_BY.map(dict(Builder=2, Dealer=1, Owner=0))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  int64
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  int64
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(7), object(1)
memory usage: 2.7+ MB

In [10]:
df.ADDRESS.unique()

array(['Ksfc Layout,Bangalore', 'Vishweshwara Nagar,Mysore',
       'Jigani,Bangalore', ..., 'west mambalam,Chennai',
       'Gandhi Nagar,Gulbarga', 'E3-108, Lake View Recidency,,Vapi'],
      dtype=object)

In [11]:
df.ADDRESS.head(30)

0           Ksfc Layout,Bangalore
1       Vishweshwara Nagar,Mysore
2                Jigani,Bangalore
3     Sector-1 Vaishali,Ghaziabad
4                New Town,Kolkata
5            South Chittoor,Kochi
6                   Sodala,Jaipur
7                   Kharar,Mohali
8           Bileshivale,Bangalore
9               Chromepet,Chennai
10       Deshbandhu Para,Siliguri
11               Hebbal,Bangalore
12       Garebhavipalya,Bangalore
13         Sector-119 Noida,Noida
14            sanjay nagar,Raigad
15         Sector-150 Noida,Noida
16          Jharapada,Bhubaneswar
17          Konanakunte,Bangalore
18             Nagpur Road,Wardha
19               Kogilu,Bangalore
20            Poonamallee,Chennai
21                     Undri,Pune
22         Sector-134 Noida,Noida
23           Bandra (West),Mumbai
24          Narendra Nagar,Nagpur
25                 Kudgat,Kolkata
26           Sain Vihar,Ghaziabad
27       Sector-115 Mohali,Mohali
28            Mohan Asram,Deoghar
29      Alwar Bypass Road,Bhiwadi
Name: ADDRESS, dtype: object

In [12]:
df.ADDRESS = df.ADDRESS.apply(lambda x: x.split(',')[-1])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  int64
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  int64
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(7), object(1)
memory usage: 2.7+ MB

In [14]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,0,0,0,2,0,1300.236407,1,1,Bangalore,12.969910,77.597960,55.0
1,1,0,0,2,0,1275.000000,1,1,Mysore,12.274538,76.644605,51.0
2,0,0,0,2,0,933.159722,1,1,Bangalore,12.778033,77.632191,43.0
3,0,0,1,2,0,929.921143,1,1,Ghaziabad,28.642300,77.344500,62.5
4,1,1,0,2,0,999.009247,0,1,Kolkata,22.592200,88.484911,60.5

In [15]:
df.ADDRESS.unique()

array(['Bangalore', 'Mysore', 'Ghaziabad', 'Kolkata', 'Kochi', 'Jaipur',
       'Mohali', 'Chennai', 'Siliguri', 'Noida', 'Raigad', 'Bhubaneswar',
       'Wardha', 'Pune', 'Mumbai', 'Nagpur', 'Deoghar', 'Bhiwadi',
       'Faridabad', 'Lalitpur', 'Maharashtra', 'Vadodara',
       'Visakhapatnam', 'Vapi', 'Mangalore', 'Aurangabad', 'Ottapalam',
       'Vijayawada', 'Belgaum', 'Bhopal', 'Lucknow', 'Kanpur',
       'Gandhinagar', 'Pondicherry', 'Agra', 'Ranchi', 'Gurgaon', 'Udupi',
       'Indore', 'Jodhpur', 'Coimbatore', 'Valsad', 'Palghar', 'Surat',
       'Varanasi', 'Guwahati', 'Amravati', 'Anand', 'Tirupati',
       'Secunderabad', 'Raipur', 'Vizianagaram', 'Thrissur', 'Satna',
       'Madurai', 'Chandigarh', 'Shimla', 'Gwalior', 'Rajkot', 'Sonipat',
       'Allahabad', 'Berhampur', 'Roorkee', 'Dharuhera', 'Latur',
       'Durgapur', 'Panchkula', 'Solapur', 'Durg', 'Goa', 'Jamshedpur',
       'Hazaribagh', 'Jabalpur', 'Hosur', 'Morbi', 'Hubli', 'Karnal',
       'Patna', 'Bilaspur', 'Ratnagiri', 'Meerut', 'Kotdwara',
       'Jalandhar', 'Amritsar', 'Patiala', 'Ludhiana', 'Alwar', 'Kota',
       'Panaji', 'Kolhapur', 'Ernakulam', 'Bhavnagar', 'Bharuch',
       'Asansol', 'Jhansi', 'Margao', 'Anantapur', 'Eluru', 'Bhilai',
       'Dehradun', 'Guntur', 'Jalgaon', 'Udaipur', 'Gurdaspur',
       'Neemrana', 'Hassan', 'Sindhudurg', 'Hoshangabad', 'Kottayam',
       'Dhanbad', 'Navsari', 'Bahadurgarh', 'Nellore', 'Dhule',
       'Tirunelveli', 'Cuttack', 'Haridwar', 'Nainital', 'Jamnagar',
       'Kanchipuram', 'Kadi', 'Karad', 'Jagdalpur', 'Panipat',
       'Muzaffarpur', 'Salem', 'Jhunjhunu', 'Gandhidham', 'Junagadh',
       'Moradabad', 'Ahmednagar', 'Jalna', 'Bhiwani', 'Palakkad',
       'Kannur', 'Karjat', 'Akola', 'Jind', 'Gaya', 'Ambala', 'Ajmer',
       'Hajipur', 'Dharwad', 'Pudukkottai', 'Kollam', 'Ooty', 'Bhandara',
       'Barabanki', 'Rajpura', 'Palwal', 'Aligarh', 'Erode', 'Rudrapur',
       'Tenali', 'Ongole', 'Nizamabad', 'Puri', 'Dalhousie', 'Siddipet',
       'Solan', 'Darbhanga', 'Kadapa', 'Kakinada', 'Agartala', 'Warangal',
       'Haldwani', 'Osmanabad', 'Bhagalpur', 'Bardhaman', 'Rishikesh',
       'Chandrapur', 'Bokaro', 'Jharsuguda', 'Bhimavaram', 'Kurnool',
       'Amroha', 'Hapur', 'Sabarkantha', 'Harda', 'Ujjain', 'Thoothukudi',
       'Karaikudi', 'Mathura', 'Gadhinglaj', 'Rewari', 'Godhra',
       'Kharagpur', 'Srikakulam', 'Srinagar', 'Midnapore', 'Rayagada',
       'Banswara', 'Shirdi', 'Rohtak', 'Pali', 'Hathras', 'Yavatmal',
       'Balasore', 'Chhindwara', 'Bareilly', 'Vidisha', 'Thanjavur',
       'Kangra', 'Bikaner', 'Rewa', 'Porbandar', 'Nagaur', 'Nanded',
       'Rourkela', 'Nadiad', 'Gulbarga', 'Palanpur', 'Bhadrak',
       'Kurukshetra', 'Dibrugarh', 'Sagar', 'Machilipatnam',
       'Pathanamthitta', 'Bankura', 'Jammu', 'Idukki', 'Korba', 'Raigarh',
       'Silchar', 'Arrah', 'Nagaon', 'Karwar', 'Dahod', 'Nagapattinam',
       'Sikar', 'Angul', 'Baddi', 'Darjeeling', 'Raisen', 'Hoshiarpur',
       'Beed', 'Gadarwara', 'Jajpur', 'Haldia', 'Chittoor', 'Faizabad',
       'Malappuram', 'Betul', 'Surendranagar', 'Phagwara', 'Visnagar',
       'Rajnandgaon', 'Cuddalore', 'Raichur', 'Sambalpur', 'Gondia',
       'Vellore', 'Bharatpur', 'Bhuj', 'Siwan', 'Washim'], dtype=object)

since there are many values in the address column it is better to drop the column.

In [16]:
df.drop('ADDRESS',axis=1, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  int64
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  int64
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   LONGITUDE              29451 non-null  float64
 9   LATITUDE               29451 non-null  float64
 10  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(7)
memory usage: 2.5 MB

In [18]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
POSTED_BY,29451.0,0.663305,5.153446e-01,0.000000,0.000000,1.000000,1.000000,2.000000e+00
UNDER_CONSTRUCTION,29451.0,0.179756,3.839908e-01,0.000000,0.000000,0.000000,0.000000,1.000000e+00
RERA,29451.0,0.317918,4.656753e-01,0.000000,0.000000,0.000000,1.000000,1.000000e+00
BHK_NO.,29451.0,2.392279,8.790913e-01,1.000000,2.000000,2.000000,3.000000,2.000000e+01
BHK_OR_RK,29451.0,0.000815,2.853553e-02,0.000000,0.000000,0.000000,0.000000,1.000000e+00
SQUARE_FT,29451.0,19802.170190,1.901335e+06,3.000000,900.021130,1175.056750,1550.688124,2.545455e+08
READY_TO_MOVE,29451.0,0.820244,3.839908e-01,0.000000,1.000000,1.000000,1.000000,1.000000e+00
RESALE,29451.0,0.929578,2.558613e-01,0.000000,1.000000,1.000000,1.000000,1.000000e+00
LONGITUDE,29451.0,21.300255,6.205306e+00,-37.713008,18.452663,20.750000,26.900926,5.991288e+01
LATITUDE,29451.0,76.837695,1.055775e+01,-121.761248,73.798100,77.324137,77.828740,1.529627e+02
TARGET(PRICE_IN_LACS),29451.0,142.898746,6.568807e+02,0.250000,38.000000,62.000000,100.000000,3.000000e+04

as the output column have continueous variables we can identify this is an regression problem.

we have converted all the columns in the numericals so we can procide to find the null values in the dataset

In [19]:
df.isnull().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

we found the data is clean and having no null values in the dataset so we can further move to do the analysis part for machine learning.

In [20]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=100)

In [22]:
print('X_train:', X_train.shape)
print('X_test:',X_test.shape)
print('y_train:',y_train.shape)
print('y_test:',y_test.shape)

X_train: (23560, 10)
X_test: (5891, 10)
y_train: (23560,)
y_test: (5891,)

we have successfully cleaned the data and splitted the data as train and test with 80-20% respectively.

In [52]:
#Algorithms
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsRegressor as knr
from sklearn.svm import SVR 
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_squared_error
from sklearn import metrics

In [53]:
def lieReg():
    lr = LinearRegression()
    lr.fit(X_train,y_train)
    y_pred = lr.predict(X_test)
    print('===================Linear Regression===================')
    rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
    print('RMSE Value for Linear regression is\n',rmse)
    R2 = metrics.r2_score(y_test,y_pred)
    print('R2 Score for Linear regression is\n',R2)

In [54]:
def navyBais():
    nb = GaussianNB().fit(X_train,y_train)
    y_pred = nb.predict(X_test)
    print('===================Navie Bayes===================')
    rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
    print('RMSE Value for Navie Bayes is\n',rmse)
    R2 = metrics.r2_score(y_test,y_pred)
    print('R2 Score for Navie Bayes is\n',R2)

In [55]:
for i in range(1,10):
    knn = knr(n_neighbors=i,metric = 'euclidean')
    #knn = knr(n_neighbors=i,metric = 'manhattan')
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_test)
    R2 = metrics.r2_score(y_test,y_pred)*100
    print('R2 Score for ',i,' is',R2)

R2 Score for  1  is 88.06058114469741
R2 Score for  2  is 90.41593512846582
R2 Score for  3  is 88.0448740822887
R2 Score for  4  is 83.80139234611138
R2 Score for  5  is 81.17878988756497
R2 Score for  6  is 79.2434162826589
R2 Score for  7  is 77.51834120933391
R2 Score for  8  is 78.16971885696684
R2 Score for  9  is 78.66417973791141

In [56]:
for i in range(1,10):
    #knn = knr(n_neighbors=2,metric = 'euclidean')
    knn = knr(n_neighbors=i,metric = 'manhattan')
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_test)
    R2 = metrics.r2_score(y_test,y_pred)*100
    print('R2 Score for ',i,' is',R2)

R2 Score for  1  is 87.69446856247744
R2 Score for  2  is 90.50581847659195
R2 Score for  3  is 88.02341861397144
R2 Score for  4  is 83.74829234000528
R2 Score for  5  is 81.21662622270217
R2 Score for  6  is 79.31013879226316
R2 Score for  7  is 77.64712874023222
R2 Score for  8  is 78.21717072985463
R2 Score for  9  is 78.73352575501832

In [59]:
def knn():
    #knn = knr(n_neighbors=2,metric = 'euclidean')
    knn = knr(n_neighbors=2,metric = 'manhattan')
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_test)
    print('===================KNN===================')
    rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
    print('RMSE Value for KNN is\n',rmse)
    R2 = metrics.r2_score(y_test,y_pred)
    print('R2 Score for KNN is\n',R2)

In [58]:
for i in range(1,10):
    model = SVR(C=i)
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    R2 = metrics.r2_score(y_test,y_pred)*100
    print('R2 Score for ',i,' is',R2)

R2 Score for  1  is -1.5011763973781678
R2 Score for  2  is -1.4824761256834629
R2 Score for  3  is -1.463778624913603
R2 Score for  4  is -1.4450838950684997
R2 Score for  5  is -1.4263919361481747
R2 Score for  6  is -1.407702748152695
R2 Score for  7  is -1.3890163310819714
R2 Score for  8  is -1.3703326849360709
R2 Score for  9  is -1.351651809714971

In [63]:
def svm():
    model = SVR(C=1)
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print('===================Support Vector===================')
    rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
    print('RMSE Value for Support Vector is\n',rmse)
    R2 = metrics.r2_score(y_test,y_pred)
    print('R2 Score for Support Vector is\n',R2)

In [61]:
for i in range(1,10):
    dtree = dtr(max_depth = i)
    dtree.fit(X_train,y_train)
    y_pred = dtree.predict(X_test)
    R2 = metrics.r2_score(y_test,y_pred)*100
    print('R2 Score for ',i,' is',R2)

R2 Score for  1  is 78.16671085892285
R2 Score for  2  is 92.00154890050963
R2 Score for  3  is 94.61925334819321
R2 Score for  4  is 95.84617959163931
R2 Score for  5  is 95.40909634806218
R2 Score for  6  is 94.33499180798385
R2 Score for  7  is 95.3111625091176
R2 Score for  8  is 94.67578688536268
R2 Score for  9  is 94.82729490191224

In [64]:
def dtree():
    dtree = dtr(max_depth = 4)
    dtree.fit(X_train,y_train)
    y_pred = dtree.predict(X_test)
    print('===================Decision Tree===================')
    rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
    print('RMSE Value for Decision Tree is\n',rmse)
    R2 = metrics.r2_score(y_test,y_pred)
    print('R2 Score for Decision Tree is\n',R2)

In [67]:
def main():
  lieReg()
  #navyBais()
  knn()
  svm()
  dtree()

main()

===================Linear Regression===================
RMSE Value for Linear regression is
 656.4319965821608
R2 Score for Linear regression is
 0.29960447862088857
===================KNN===================
RMSE Value for KNN is
 241.68340284650628
R2 Score for KNN is
 0.9050581847659196
===================Support Vector===================
RMSE Value for Support Vector is
 790.2301572649467
R2 Score for Support Vector is
 -0.015011763973781678
===================Decision Tree===================
RMSE Value for Decision Tree is
 159.86077698900002
R2 Score for Decision Tree is
 0.9584617959163931

In [68]:
dtree = dtr(max_depth = 4)
dtree.fit(X_train,y_train)
predictions = dtree.predict(X_test)

In [69]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 60.56921641378556
MSE: 25555.468019526794
RMSE: 159.86077698900002

In [70]:
import joblib
joblib.dump(dtree,'model')

['model']

In [71]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,0,0,0,2,0,1300.236407,1,1,12.969910,77.597960,55.0
1,1,0,0,2,0,1275.000000,1,1,12.274538,76.644605,51.0
2,0,0,0,2,0,933.159722,1,1,12.778033,77.632191,43.0
3,0,0,1,2,0,929.921143,1,1,28.642300,77.344500,62.5
4,1,1,0,2,0,999.009247,0,1,22.592200,88.484911,60.5

In [72]:
m=[[1,0,1,2,0,999,1,1,12.8,77.65]]

In [73]:
solve = joblib.load('model')
print(solve.predict(m))

[56.9926566]

/home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(